:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Archivo Black", sans-serif;
    --font3: "?????", sans-serif;
    --font4: "Belong Faith", sans-serif;
    --font5: "Rubik Pixels", sans-serif;
    --font6: "Colonna MT", sans-serif;
  }
*{
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
   
  }
  .container {
    max-width: 1920px;
  }
  .dop{
    background: #060604;
  }
  .mystic{
    width: 1920px;
height: 1265px;
    background-image: url(./images/Group\ 11.png);

  }
  .menu-top{
    display: flex;
    padding-top: 53px;
    margin-left: 121px;
  }
  .menu-item{
    list-style: none;
    margin-top: 13px;
  }
  .menu-items{
    list-style: none;
  }
  .link{
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 800;
font-size: 20px;
line-height: 149%;
letter-spacing: 0.01em;
color: #fff;
margin-right: 76px;
padding-top: 100px;


  }
  .butt{
    border-radius: 61px;
    padding: 10px 35px ;
    backdrop-filter: blur(34.5px);
    background: rgba(150, 150, 150, 0.34);
    transform: rotate(90deg);
text-decoration: none;
font-family: var(--font-family);
font-weight: 800;
font-size: 20px;
line-height: 149%;
letter-spacing: 0.01em;
color: #fff;
margin-left: 160px;
margin-top: 10px;

  }
  .logo{
 margin-right: 294px;
 width: 72px;
height: 65px;

  } 

.blok_one p{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 104%;
    color: #fff;
    margin-top: 222px;
    margin-left: 667px;
}
.blok_one h1{
    font-family: "Belong Faith";
    font-weight: 400;
    font-size: 350px;
    line-height: 104%;
    margin-top: 118px;
    margin-left: 227px;
    color: #fff;
    text-shadow: 10px 13px 7px 0 rgba(0, 0, 0, 0.38);
}
.blok_one span{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  color: rgba(255, 255, 255, 0.84);
  margin-left: 1226px;
  margin-top: -100px;
}
.blok_two{
  height: 766px;
  margin-top: 300px;
  background: #060604;
}
.blok_two p{
margin-top: 51px;
font-family: var(--font-family);
font-weight: 400;
font-size: 32px;
line-height: 120%;
color: #fff;
max-width: 1200px;
}
.blok_two h2{
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 59px;
  line-height: 78%;
  text-align: right;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 35px;
  }
  .blok_two_text_span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: right;
    color: #fff;
    margin-left: 421px;
    }
    .blok_two_text{
      width: 1618px;
      margin-left: 150px;
    }
    .blok_three{

height: 1696px;
background-image: url(./images/Mask\ group.png);
    }
    .blok_three img{
      margin-top: 229px;
      margin-bottom: 123px;
    }
    .blok_three p{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 36px;
      line-height: 136%;
      text-transform: uppercase;
      text-align: center;
      color: #000;
    }
    .blok_three span{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 127%;
      text-align: center;
      color: #fff;
      /* max-width: 1654px; */
    }
    .blok_color{
      background: #060604;
    }
    .blok_three_span{
       max-width: 1654px;
       margin-left: 100px;
       margin-top: 442px;
    }
    .fly{
      background: #060604;
      max-width: 1920px;
      position: relative;
      top:-450px;
    }
    .eth_five{
      margin-left: 198px;
      margin-top: 200px;
    }
    .eth_five h2{
      font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 149%;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 50px;
    }
    .eth_stat img{
      margin-right: 23px;
    }
  .foot{
    width: 1500px;
    height: 609px;
    margin-left: 215px;
    margin-top: 150px;
    display: block;
  }
  .cocials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .blok_three{
    text-align: center;

  }
  .blok_fo{
    display: flex;
    justify-content: space-between;
    width: 1618px;
position: relative;
top: -250px;
left: 150px;

  }
  .social_icons{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .social_icons img{
    padding: 20px;
  }
  .footer_links{
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;

  }
  .footer_links a{
    padding-top: 20px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 125%;
letter-spacing: 0.01em;
color: #fff;
text-decoration: none;

  }
  .footer_links h1{
    font-family: var(--font-family);
font-weight: 800;
font-size: 20px;
line-height: 149%;
letter-spacing: 0.01em;
color: #fff;
margin-bottom: 50px;
  }
  .root{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    font-size: x-small;
    margin-top: 100px;
    
  }
  .root a{
    text-decoration: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 125%;
letter-spacing: 0.01em;
color: #fff;
text-decoration: underline;
text-decoration-skip-ink: none;
  }
  .gils_music{
    width: 170px;
    margin-bottom: 30px;

  }
  .gils_music a{
    padding-bottom: 30px;
  }
  .aetherland{
    width: 273px;


  }
  .gils_store{
    width: 242px;


  }
  .TRAVELLERS_gils{
    width: 208px;

  }
  .logo_main{
    width: 61px;
height: 55px;
  }