:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Archivo Black", sans-serif;
    --font3: "?????", sans-serif;
    --font4: "Belong Faith", sans-serif;
    --font5: "Rubik Pixels", sans-serif;
    --font6: "Colonna MT", sans-serif;
  }
*{
 
font-family: var(--font-family);
color: white;
text-decoration: none;
display: block;
margin-left: auto;
margin-right: auto; 

}


.socials{
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .social_icons{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .social_icons img{
    padding: 30px;
  }
  
  .footer_links{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 0;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    margin-bottom: 100px;
  }
  .footer_links a{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .root{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    font-size: x-small;
  }
  
  .wrapper {
    max-width: 1700px;
    margin: 0 auto;
   
  }
  
  .slider {
    position: relative;
    
  }
  
  .slider .slider__item {
  
    display: block;
    opacity: 0.4;
    text-align: center;
    transition: 0.2s;
    margin: 0 15px;
    transition: all 0.5s ease;
      padding: 40px 0;
  }
  
  .slider .slider__item img {
    border: none;
    border-radius: 15px;
    
  }
  
  .slider .slider__item.slick-center {
    opacity: 1;
    transform: scale(1.1);
    z-index: 1;
  } 
  
  .slider .slick-arrow {

    cursor: pointer;
    font-size: large;
    background-color: transparent;
    border-radius: 80px;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    padding: 10px;
    z-index: 10;
  }
  
  .slider .slick-prev {
    right: 50px;
    transform: rotate(180deg);
  position: relative;
  top: 727px;
  }
  
  .slider .slick-next {
    right: 0px;
    
  }
  
  .slider .slider__counter {
    
    color: #fff;
    font-size: 20px;
    
  }
  
  .slider_btn{
    position: relative;
    top: -120px;
    background-color: transparent;
    color: white;
    font-size: 22pt;
    padding: 12px 24px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 60px;
  font-family: var(--font-family);
  }  

body{
    background:linear-gradient(rgba(197, 188, 159, 1),rgba(65, 69, 53, 1));
}
.logo_main{
  width: 65px;
}
.logo{
  margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
  align-items: center;
  font-size: 20pt;
  font-weight:700;
  font-family: var(--font-family);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(197, 188, 159, 1);
 padding: 20px;
 border-radius: 10px;
  }
  .links{
    margin: auto;
  }

.my_account{
  padding: 10px;
  height: 50px;
  width: 218px;
  background: linear-gradient(rgba(54, 69, 140, 1),rgba(88, 32, 141, 1));
  border-radius: 60px;
  font-size: 20px;
  font-family: var(--font-family);
  border: none;
  margin: 0;
}

main{
    position: relative;
    top: -500px;
}
.main_photo{
 margin-top: 100px;
 position: relative;
 width: 100%;
 display: block;
    margin-left: auto;
    margin-right: auto ;
}
.main_photo img{
    max-width: 100%;
}

h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
}

h2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
}
h3{
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 22px;
}

.main_text{
    max-width: 80%;
    margin-bottom: 40px;
}
.text2{
    max-width: 80%;
    margin-bottom: 40px;
}
.text3{
    max-width: 80%;
    margin-bottom: 40px;
}
.text4{
    max-width: 80%;
    margin-bottom: 40px;
}

.welcome_pic{
    margin-top: 300px;
}
.container2 {
  justify-content: center;
  margin-top: 160px;
  max-width: 1650px;
  
}

.zagol2 {
  font-size: 38px;
  padding-bottom: 30px;
}
.blogi {
  display: flex;
  max-width: 1650px;
  margin-bottom: 250px;
}