:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Archivo Black", sans-serif;
    --font3: "?????", sans-serif;
    --font4: "Belong Faith", sans-serif;
    --font5: "Rubik Pixels", sans-serif;
    --font6: "Colonna MT", sans-serif;
  }
*{
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
  }
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }

  /* трансфер */
  .gils {
    background-image: url(./images/РГ.png);
    background-size: cover; /* Cover the entire element */
    background-attachment: fixed; /* Fix the background image */
    background-position: center; /* Center the background image */
    position: fixed; /* Fix the position */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    text-align: center;
    z-index: -1; /* Ensure it stays behind other content */
}
 
  .logo{
    width: 110px;
    height: 98px;
    margin-top: 132px;

  }
  .gils_text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 33px;
    line-height: 134%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 105px;
  }
  .gils_twot{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0em;
    text-transform: lowercase;
    color: #fff;
    margin-top: 55px;
  }
  .buttons{
    width: 498px;
    height: 140px;
    margin-left: 711px;
    margin-top: 28px;
  }
  .gils_threet{
    font-family: var(--second-family);
font-weight: 700;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
text-transform: lowercase;
color: #fff;
margin-top: 48px;
  }
  .gils_but_href{
   padding: 18px 126px;
   border-radius: 14px;

text-decoration: none;
font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 233%;
letter-spacing: 0.01em;
color: #fff;
background: rgba(23, 23, 23, 0.9);

  }
  .gils_cont{
    width: 497px;
    margin-top: 28px;
    margin-left: 711px;
  }

 /* авторизация */

  .auth{
    background-image: url(./images/auth.png);
    
    text-align: center;
    background-size: cover; /* Cover the entire element */
    background-attachment: fixed; /* Fix the background image */
    background-position: center; /* Center the background image */
    background-position: fixed;
  }
  .dop{
    padding-top: 66px;
    
  }
 
    .auth_form {
      border-radius: 30px;  
      width: 657px;
      min-height: 852px; /* Установите минимальную высоту, если это нужно */
      background: #19171c;
      margin-left: 649px;
      padding: 20px; /* Добавьте отступы, если необходимо */
  }
  .auth_form_logo{
    width: 97px;
    height: 89px;
    margin-top: 34px;
  }
  .auth_form_f{
    width: 495px;
    margin-left: 84px;
    margin-top: 41px;
  }
  .auth_form_text{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    line-height: 138%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 14px;
  }
  .auth_form_input{
    border-radius: 15px;
    width: 480px;
    height: 65px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 221%;
    letter-spacing: 0.01em;
    color: #d9d9d9;
    background: rgba(84, 84, 84, 0.24);
    margin-bottom: 26px;
    padding-left: 10px;
  }
  .auth_form_btn{
    border-radius: 15px;
    padding: 10px;
    width: 495px;
    height: 65px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(164deg, #5072bb 0%, #4f1989 100%);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 185%;
     letter-spacing: 0.01em;
      color: #fff;
  } 
  .lines{
    display: flex;
    width: 495px;
    margin-top: 50px;
    margin-left: 84px;
  }
  .lines_one{
    border: 1px solid #fff;
    width: 202px;
    height: 0px;
    margin-top: 8px;

  }
  .lines_text{
    font-family: var(--second-family);
font-weight: 700;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
text-transform: lowercase;
color: #fff;
margin-right: 30px;
margin-left: 30px;
  }
  .auth_buttons{
    width: 535px;
    margin-left: 70px;
  }
  .auth_text_info{
    font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0em;
  text-transform: lowercase;
  color: #fff;
  margin-top: 26px;
  margin-bottom: 26px;
  }
  .auth_form_link{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: lighter;
font-size: 16px;
line-height: 277%;
letter-spacing: 0.01em;
color: #fff;
margin-top: 34px;
  }
  .auth_buttons_img{
    margin-right:12px ;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  .dop_text{
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 277%;
    letter-spacing: 0.01em;
    color: #fff;
  }

/* winter */

  .winter{
    height: 4492px;
    background: linear-gradient(137deg, #b2cbe8 57%, #bae2ec 100%);
  }
  .menu-top{
    display: flex;
    padding-top: 63px;
    margin-left: 121px;
  }
  .menu-item{
    list-style: none;
  
  }
  .link{
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 800;
font-size: 20px;
line-height: 149%;
letter-spacing: 0.01em;
color: #4d79a3;
margin-right: 76px;
margin-top: 30px;


  }
  .butt{
    border-radius: 61px;
    padding: 10px 35px ;
background: #4d79a3;
transform: rotate(90deg);
text-decoration: none;
font-family: var(--font-family);
font-weight: 800;
font-size: 20px;
line-height: 149%;
letter-spacing: 0.01em;
color: #fff;
margin-left: 190px;
margin-top: 10px;

  }
  .winter_logo{
 margin-right: 294px;

  }
  .winter_first{
    height: 1080px;
    background-image: url(./images/mountains-1920x1080-snow-26108\ 1.png);
  }
  .winter_first_text{
    width: 1314px;
    height: 156px;
    padding-top: 731px;
    margin-left: 286px;
  }
  .winter_first_text_zag{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    letter-spacing: 0em;
    color: #405767;
  }
  .winter_first_text_date{
    font-family: var(--font-family);
font-weight: 300;
font-size: 22px;
line-height: 149%;
letter-spacing: 0.01em;
color: #405767;
  }
  .winter_first_text_dop{
    font-family: var(--second-family);
font-weight: 500;
font-size: 22px;
line-height: 149%;
letter-spacing: 0.01em;
color: #405767;
margin-top: 60px;
  }
  .winter_slider{
    width: 905px;
    margin-top: 100px;
  }
  .winter_two{
    margin-left: 286px;
    margin-top: 80px;
    width: 1348px;
height: 146px;
  }
  .winter_two_h{
    font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 244%;
letter-spacing: 0em;
color: #405767;
  }
  .winter_two_p{
    font-family: var(--second-family);
font-weight: 500;
font-size: 22px;
line-height: 149%;
letter-spacing: 0.01em;
color: #405767;
  }
  .winter_three{
    margin-top: 100px;
    margin-left: 286px;
    width: 1348px;

  }
  .winter_three_h{
    font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 244%;
letter-spacing: 0em;
color: #405767;
  }
  .winter_three_p{
    font-family: var(--second-family);
font-weight: 500;
font-size: 22px;
line-height: 149%;
letter-spacing: 0.01em;
color: #405767;
  }
  .winter_fo{
    width: 1348px;
    margin-left: 286px;
    margin-top: 100px;
  }
  .winter_fo_h{
    font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 244%;
letter-spacing: 0em;
color: #405767;
  }
  .winter_fo_p{
    font-family: var(--second-family);
font-weight: 500;
font-size: 22px;
line-height: 149%;
letter-spacing: 0.01em;
color: #405767;
  }
  .winter_five{
    width: 989px;
    height: 273px;
    text-align: center;
    margin-top: 247px;
    margin-left: 466px;
  }
  .winter_five_text{
    font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 162%;
letter-spacing: 0em;
text-align: center;
color: #405767;
margin-top: 40px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .slider {
    position: relative;
  }
  
  .slider .slider_item {
    display: block;
    opacity: 0.4;
    text-align: center;
    transition: 0.2s;
    margin: 0 15px;
  }
  
  .slider .slider_item img {
    border: 3px solid #fff;
  }
  
  .slider .slider_item .slick-center {
    opacity: 1;
  } 

  .slider .slick-arrow {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    color: #330867;
    background-color: #fff;
    padding: 3px 10px;
    bottom: -50px;
  }
  
  .slider .slick-prev {
    right: 50px;
    transform: rotate(180deg);
  }
  
  .slider .slick-next {
    right: 0px;
  }

  .slider .slider__counter {
    position: absolute;
    color: #fff;
    font-size: 20px;
    bottom: -45px;
    right: 100px;
  }